<!doctype html>
<html lang="en" class="h-100">
  <head>
    <g:layoutHead/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title><g:layoutTitle default="TodoInv"/></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

    <style>
      .container {
        position: relative;  top: 80px;
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <g:if test="${session.user != null}">
        <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">TodoInv</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <g:if test="${request.forwardURI.indexOf("bienvenida") > -1}">
                      <a class="nav-link active" href="/bienvenida/index">Home </a>
                  </g:if>
                  <g:else>
                      <a class="nav-link" href="/bienvenida/index">Home </a>
                    
                  </g:else>
                </li>
                <g:if test="${ session.esAdmin }"><li class="nav-item">
                      <g:if test="${request.forwardURI.indexOf("/categoria") > -1}">
                         <a class="nav-link active" href="/categoria/index">Categorias <span class="sr-only">(current)</span> </a>
                      </g:if>
                      <g:else>
                         <a class="nav-link" href="/categoria/index">Categorias </a>
                      </g:else>
                  </li>
                </g:if>
                <g:if test="${ session.esAdmin }">
                  <li class="nav-item">
                      <g:if test="${request.forwardURI.indexOf("/producto") > -1}">
                         <a class="nav-link active" href="/producto/index">Productos <span class="sr-only">(current)</span> </a>
                      </g:if>
                      <g:else>
                         <a class="nav-link" href="/producto/index">Productos </a>
                      </g:else>
                  </li>
                </g:if>
                <li class="nav-item">
                  <a class="nav-link" href="/comprarproducto/index">Comprar producto</a>
                        </li>
                <li class="nav-item">
                 <a class="nav-link" href="/venderproducto/index">Vender producto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/encuesta/index">Encuesta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/testinversion/index">Test inversor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/perfil/index">${session.usuario.nombre} ${session.usuario.apellido} (Perfil)</a>
                </li>
            </ul>
            <g:form class="form-inline mt-2 mt-md-0" action="logout" controller="login">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Exit</button>
            </g:form>
            </div>
        </nav>
        </header>
    </g:if>


<g:layoutBody/>

<asset:javascript src="application.js"/>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
